

<h1>The Goods</h1>
<div class="container">


<!-- Form to sign in -->
<button type="button" name="">Sign In</button>

  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="email" >
      <label class="mdl-textfield__label" for="sample3"></label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" >
      <label class="mdl-textfield__label" for="sample3" ></label>
    </div>
  </form>

  <!-- Form to sign up -->
  <button type="button" name="">Sign In</button>

  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="email" >
      <label class="mdl-textfield__label" for="sample3"></label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" >
      <label class="mdl-textfield__label" for="sample3" ></label>
    </div>
  </form>
</div>
