<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Animals</title>
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/public/assets/css/goods_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
