
  <form action="/api/goods" method="POST" style = "color: red">
    Item Name:<br>
    <input type="text" name="itemName" value=""><br>
    Category:<br>
    <input type="text" name="category" value=""><br>
    <!-- Location:<br>
    <input type="text" name="location" value:""> --><br>
    Price Per Hour:<br>
    <input type="text" name="pricePerHour" value:""><br>
    Item Photo:<br>
    <input type="text" name="itemPhoto" value:""><br>
    <br><input type="submit" value="Submit">
  </form>

