
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row ">
            <!-- Title -->
            <span class="mdl-layout-title">THE GOOD$</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <!-- <nav class="mdl-navigation"> -->
            <a class="mdl-navigation__link" id="search" href="/"><i class="material-icons">search</i></a>
            <a class="mdl-navigation__link" id="homeButton" href="/itemMmgt"><i class="material-icons">home</i></a>
            <a class="mdl-navigation__link" id="createItem" href="/newItem"><i class="material-icons">create</i></a>
            <form action="/logout" method="GET">
                <!-- <input > -->
                <a class="mdl-navigation__link" id="logout" href="Logout" type="submit" value="Logout"><i class="material-icons">power_settings_new</i></a>
            </form>
            <!-- </nav> -->
        </div>
    </header>
    <!-- <main class="mdl-layout__content">
  </main> -->

<div class="containerIndex">
    <form action="/api/goods" method="POST" style="color: red; background: white">
        Item Name:
        <br>
        <input type="text" name="itemName" value="">
        <br> Category:
        <br>
        <input type="text" name="category" value="">
        <br> Description:
        <br>
        <input type="text" name="description" value="" <br>
        <!-- Location:<br>
    <input type="text" name="location" value:""> -->
        <br> Price Per Hour:
        <br>
        <input type="text" name="pricePerHour" value: "">
        <br> Item Photo:
        <br>
        <input type="text" name="itemPhoto" value: "">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
