<div>
  <h1>Their GOOD$</h1>
  <div id="table" class="table-editable">
    <table class="table">
    <tr>
      <th width="10%"><b>Owner</b></th>
      <th width="15%"><b>Name</b></th>
      <th width="20%"><b>Return Location</b></th>
      <th width="10%"><b>Category</b></th>
      <th width="10%"><b>Price Per Hr</b></th>
      <th width="12%"><b>Checkout Time</b></th>
      <th width="15%"><b>Cost</b></th>
      <th width="9%"></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    <div class="rentedItems"></div>
    <td>
    <span class="item-return glyphicon glyphicon-transfer"></span>
    </td>
    </tr>
  </table>
</div>


<div>
  <h1>My GOOD$</h1>
  <div id="table" class="table-editable">
    <table class="table">
      <tr>
        <th width="10%"><b>Availability</b></th>
        <th width="18%"><b>Name</b></th>
        <th width="25%"><b>Description</b></th>
        <th width="10%"><b>Category</b></th>
        <th width="12%"><b>Price Per Hr</b></th>
        <th width="14%"><b>Checkout Time</b></th>
        <th width="13%"><b>Last Check In</b></th>
        <th width="5%"><b>Earned</b></th>
        <span class="table-add glyphicon glyphicon-plus"></span>
      </tr>
      <tr>
      
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td></td>
        
        <td><span class="add-photo glyphicon glyphicon-picture"></span></td>
        <td><span class="table-remove glyphicon glyphicon-remove"></span></td>
        
        <td>
            <span class="table-up glyphicon glyphicon-arrow-up"></span>
            <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>

<!-- This is our clonable table line for adding new items-->
      <tr class="hide">
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td></td>
        
        <td><span class="add-photo glyphicon glyphicon-picture"></span></td>
        <td><span class="table-remove glyphicon glyphicon-remove"></span></td>
        
        <td>
            <span class="table-up glyphicon glyphicon-arrow-up"></span>
            <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
    </table>
  </div>
  
  <button id="export-btn" class="btn btn-primary" type="submit">Export Data</button>
  <p id="export"></p>
</div>