<form action="/api/signup" method="POST">
  Name:<br>
  <input type="text" name="name" value="Mickey Mouse"><br>
  Email:<br>
  <input type="text" name="email" value="johndoe@gmail.com"><br>
  Address:<br>
  <input type="text" name="address" value:"testAddress"><br>
  Username:<br>
  <input type="text" name="username" value:"testUser"><br>
  Password:<br>
  <input type="text" name="password" value:"test"><br>


  <br><input type="submit" value="Submit">
</form>
